[submodule "thirdparty/fzf"]
	path = thirdparty/fzf
	url = https://github.com/Rossettaylm/fzf.git
	branch = master
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/plugins/zsh-defer"]
	path = zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "thirdparty/tpm"]
	path = thirdparty/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "thirdparty/agent-tracker"]
	path = thirdparty/agent-tracker
	url = https://github.com/Rossettaylm/agent-tracker.git
